extends fn/basic.pug
append script
  script(src="script/index.js")
block cont
  .main-cont
    .left-cont
      .power
        .title 电能数据监控
        .subtitle POWER DATE
        #power
        .data
          .item 当前房间：会议室A
          .item 用电量：15600kw/h
          .item 用电倍率：120
          .item 用电时长：12h
      .lightEnergy
        .title 光能数据监控
        .subtitle LIGHT DATE
        .item
          .pie(id="lightEnergy1")
          .text 办公室
        .item
          .pie(id="lightEnergy2")
          .text 会议室
      .waterEnergy
        .title 水能数据监控
        .subtitle WATER DATE
        #waterEnergy
    .center-cont
      .bottom
        .monitor
          .camera1
            .title 大楼数据监控
            .subtitle ELEVATOR
            .desc 控摄监像头
            img(src='./image/home/home-video1.png')
          .camera-right
            .camera2
              .desc 控摄监像头2
              img(src='./image/home/home-video2-1.png')
              img(src='./image/home/home-video2-2.png')
              img(src='./image/home/home-video2-3.png')
              img(src='./image/home/home-video2-4.png')
            .camera2
              .desc 控摄监像头2
              img(src='./image/home/home-video2-1.png')
              img(src='./image/home/home-video2-2.png')
              img(src='./image/home/home-video2-3.png')
              img(src='./image/home/home-video2-4.png')
    .right-cont
      .humanTaffic
        .title 人流量数据监控
        .subtitle VISITONS FLOWDATE DATE
        #humanTaffic
      .parking
        .title 停车场数据监控
        .subtitle PARKING LOT DATA
        each val,index in ['A区','B区','C区','D区','E区','F区','G区','H区','I区']
          .item
            .pie(id="pie"+index)
            .text=val

